        div.headerdiv{
        background-color:#f1f1f1;
        font-family : 'Ubuntu title', sans-serif;
        font-style: oblique;
        font-size: 23px;
        border-radius: 9px 9px 9px 9px;
        padding-left: 2%;
        height: 65px;
        width: 1%;
        display: table-cell;
        vertical-align: middle;
        }
        div.headertextdiv{
            font-family: 'Ubuntu', san-serif;
            font-style: normal;
            font-size : 17px;
            padding-left: 2%;
            height: 35px;
            color: forestgreen;
        }
        div.textareadiv{
            font-family: 'Ubuntu', san-serif;
            font-style: normal;
            text-align: center;

        }
        div.elements{
            font-family: 'Ubuntu', san-serif;
            font-style: normal;
            text-align: center;
            position : relative;
            left: 42px;

        }
        /*
        input.swapbuttoninput{
            background-image: url(change.png);
            background-color: transparent; 
            background-repeat: no-repeat;  
            background-position: 0px 0px;  
            border: none;           
            cursor: pointer;        
            height: 48px;          
            padding-left: 48px;    
            vertical-align: middle; 
        }*/

        
        
        
        

    
    body {
        font-family : 'Ubuntu', sans-serif;
    }
    textarea {
        font-family : 'Ubuntu', sans-serif;
        font-size: 16px;
    }
    option {
        font-family : 'Ubuntu', sans-serif;
        font-size: 13px;
    }
    select {
        font-family : 'Ubuntu', sans-serif;
        font-size: 13px;
    }
    input[type=submit] {
        font-family : 'Ubuntu', sans-serif;
        font-size: 13px;
    }
            
